In [1]:
import os
import pandas as pd

caminho_relativo = os.path.join('..', 'data', 'dados_sus3.csv')
caminho_arquivo = os.path.abspath(caminho_relativo)

df = pd.read_csv(caminho_arquivo)
df.shape

(58655, 18)

In [2]:
df.MORTE.value_counts()

MORTE
0    56453
1     2202
Name: count, dtype: int64

In [3]:
df_rs = df[df.UF_RESIDENCIA_PACIENTE == 'Rio Grande do Sul']
df_rs.shape

(58655, 18)

In [4]:
df_rs

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,20170803,20170808,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,20170803,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,20170802,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,20170804,20170810,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58650,M869,430460,430460,201010330,45,1,,0,3508528,212.26,0,20140106,20140416,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
58651,S029,430460,430460,404030033,58,1,,0,3508528,1875.40,0,20140114,20140116,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
58652,S027,430645,430460,404020542,69,1,,0,3626245,355.15,0,20140221,20140222,1800,Rio Grande do Sul,Passo Fundo,-28.255060,-52.396661
58653,S823,430690,430460,408050608,37,1,,0,3626245,1695.42,0,20140302,20140314,8956,Rio Grande do Sul,Passo Fundo,-28.255060,-52.396661
58654,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,20140310,20140318,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755

In [5]:
df_rs.to_csv("../data/dados_sus3.csv", index=False)

In [6]:
df_rs.CIDADE_RESIDENCIA_PACIENTE.value_counts()

CIDADE_RESIDENCIA_PACIENTE
Uruguaiana                     9288
Ijuí                           8809
Passo Fundo                    8787
Porto Alegre                   7036
Caxias do Sul                  6825
Pelotas                        6627
Santa Cruz do Sul - Lajeado    5766
Santa Maria                    5517
Name: count, dtype: int64

In [16]:
df_rs[df_rs.MORTE == 1].SEXO.value_counts()

SEXO
1    1236
3     966
Name: count, dtype: int64

In [15]:
df_rs[(df_rs.MORTE == 1) & (df_rs.CIDADE_RESIDENCIA_PACIENTE == 'Porto Alegre')]

DIAG_PRINC  MUNIC_RES  MUNIC_MOV  PROC_REA   IDADE  SEXO  CID_MORTE  MORTE  CNES     VAL_TOT   UTI_MES_TO  DT_INTER  DT_SAIDA  total_ocorrencias  UF_RESIDENCIA_PACIENTE  CIDADE_RESIDENCIA_PACIENTE  LATI_CIDADE_RES  LONG_CIDADE_RES
Z039        430175     431490     301060010  0      3     0          1      2237822  525.99    1           20211231  20211231  1480               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
A09         430195     432010     303010061  85     1     0          1      2235404  658.16    0           20200424  20200430  806                Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
A152        430107     431440     303010215  74     1     0          1      2253046  4466.21   0           20221223  20230120  498                Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
S720        430185     432140     408040050  81     1     0          1      5384117  11070.93  12          20211201  20211221  1183               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
            430170     430700     408040050  86     1     0          1      2707918  4319.57   1           20190326  20190401  1992               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
                                                                                                                                                                                                                                         ..
A419        430160     430040     303010037  64     1     0          1      2248328  1429.63   1           20170803  20170803  30194              Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
            430150     430150     303010037  73     3     0          1      2261081  921.91    0           20170816  20170822  1915               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
            430110     431490     303010037  76     1     0          1      2237571  2139.35   0           20170720  20170813  4402               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
A418        430130     431440     303010037  75     1     0          1      2253054  2337.65   2           20170729  20170730  5201               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
A318        430105     432150     303010037  72     1     0          1      2707950  1267.64   0           20170809  20170814  2547               Rio Grande do Sul       Porto Alegre                -30.0325         -51.230377         1
Name: count, Length: 307, dtype: int64

In [23]:
df_rs[(df_rs.MORTE == 1) & (df_rs.CIDADE_RESIDENCIA_PACIENTE == 'Porto Alegre')].SEXO.value_counts()

SEXO
1    170
3    138
Name: count, dtype: int64

In [36]:
df_rs[(df_rs.MORTE == 1) & (df_rs.CIDADE_RESIDENCIA_PACIENTE == 'Porto Alegre') & (df_rs['IDADE'] >40) ].SEXO.value_counts()

SEXO
1    146
3    120
Name: count, dtype: int64

In [ ]:
%%sql

In [34]:
df_rs.CIDADE_RESIDENCIA_PACIENTE.unique()

array(['Santa Maria', 'Pelotas', 'Ijuí', 'Porto Alegre', 'Passo Fundo',
       'Caxias do Sul', 'Uruguaiana', 'Santa Cruz do Sul - Lajeado'],
      dtype=object)

In [32]:
df_rs[(df_rs.MORTE == 1) & (df_rs['IDADE'] >20) ].CIDADE_RESIDENCIA_PACIENTE.value_counts()

CIDADE_RESIDENCIA_PACIENTE
Ijuí                           338
Uruguaiana                     330
Passo Fundo                    306
Porto Alegre                   289
Pelotas                        240
Caxias do Sul                  201
Santa Maria                    185
Santa Cruz do Sul - Lajeado    170
Name: count, dtype: int64

In [9]:
df_rs[(df_rs.MORTE == 1) & (df_rs.IDADE >60)].shape[0]

1455

In [35]:
df_rs.CID_MORTE.unique()

array(['0', '0000', '    ', 'E46 ', 'G710', 'D860', 'I200', 'C248',
       'P072', 'N328', 'E43 ', 'R570', 'E138', 'I64 ', 'B24 ', 'N188',
       'B209', 'I469', 'N179', 'T180', 'J81 ', 'I269', 'J950', 'Q850',
       'S069', 'R092', 'C341', 'C250', 'A418', 'K632', 'K746', 'M511',
       'B203', 'J960', 'J958', 'Y711', 'I743', 'I713', 'A419', 'C240',
       'I351', 'K658', 'I350', 'R579', 'D752', 'J984', 'K870', 'I255',
       'R578', 'I608', 'S222', 'I618', 'I358', 'B201', 'C180', 'C340',
       'A409', 'J852', 'K920', 'K750', 'I279', 'Q203', 'Q234', 'Q230',
       'K819', 'N178', 'S063', 'T818', 'J969', 'I499', 'J985', 'C787',
       'G808', 'B690', 'I621', 'S221', 'G961', 'A079', 'T813', 'I062',
       'I711', 'S350', 'G409', 'K225', 'N180', 'C258', 'C494', 'R100',
       'M311', 'I159', 'T026', 'I609', 'S065', 'T846', 'I710', 'I509',
       'J159', 'M432', 'C838', 'J938', 'C920', 'Q219', 'J848', 'B188',
       'M349', 'C61 ', 'G958', 'C162', 'G629', 'C151', 'K938', 'D483',
       'I313', 'I289', 'I601', 'R960', 'I219', 'I209', 'L539', 'C384',
       'D381', 'G07 ', 'S062', 'K564', 'K631', 'O469', 'I635', 'I714',
       'N390', 'Q759', 'N151', 'C159', 'K805', 'C189', 'D002', 'E108',
       'K562', 'J128', 'I723', 'Q899'], dtype=object)

SEXO
1    1236
3     966
Name: count, dtype: int64

In [11]:
df_rs.IDADE.mean()

np.float64(46.70495268945529)

In [12]:
import sqlite3
import pandas as pd

# Conectar ao banco de dados
conn = sqlite3.connect("/home/maiconkevyn/PycharmProjects/txt2sql/sus_data.db")

# Listar todas as tabelas disponíveis
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tabelas = [tabela[0] for tabela in cursor.fetchall()]

print("Tabelas disponíveis:")
for tabela in tabelas:
    print(f"- {tabela}")
    # Mostrar primeiras 5 linhas de cada tabela
    df = pd.read_sql(f"SELECT * FROM {tabela} LIMIT 5", conn)
    print(df)
    print("-" * 50)

conn.close()

Tabelas disponíveis:
- dados_sus3
  DIAG_PRINC  MUNIC_RES  MUNIC_MOV   PROC_REA  IDADE  SEXO CID_MORTE  MORTE  \
0       A46      430300     430300  303080078     67     3         0      0
1       C168     430300     430300  304100021     60     1         0      0
2       J128     430300     430300  303140151     76     3         0      1
3       I500     430300     430300  303060212     62     1         0      1
4       I158     430300     430300  303060107     29     3         0      0

      CNES  VAL_TOT  UTI_MES_TO  DT_INTER  DT_SAIDA  total_ocorrencias  \
0  2266474   292.62           0  20170803  20170808              24485
1  2266474   797.11           0  20170803  20170805              24485
2  2266474  4987.52           8  20170726  20170803              24485
3  2266474  2702.50           4  20170802  20170805              24485
4  2266474  1737.69           2  20170804  20170810              24485

  UF_RESIDENCIA_PACIENTE CIDADE_RESIDENCIA_PACIENTE  LATI_CIDADE_RES  \
0      Rio Grande do Sul                Santa Maria       -29.686051
1      Rio Grande do Sul                Santa Maria       -29.686051
2      Rio Grande do Sul                Santa Maria       -29.686051
3      Rio Grande do Sul                Santa Maria       -29.686051
4      Rio Grande do Sul                Santa Maria       -29.686051

   LONG_CIDADE_RES
0       -53.806921
1       -53.806921
2       -53.806921
3       -53.806921
4       -53.806921
--------------------------------------------------

In [43]:
doencas_respiratorias = df_rs[df_rs['DIAG_PRINC'].str.startswith('J', na=False)]
len(doencas_respiratorias)

2785