In [15]:
import os
import pandas as pd

caminho_relativo = os.path.join('..', 'data', 'dados_sus3.csv')
caminho_arquivo = os.path.abspath(caminho_relativo)

df = pd.read_csv(caminho_arquivo)
df.shape

/tmp/ipykernel_97711/2101119359.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_arquivo)

(185298, 18)

In [16]:
df.MORTE.value_counts()

MORTE
0    178500
1      6798
Name: count, dtype: int64

In [17]:
df_rs = df[df.UF_RESIDENCIA_PACIENTE == 'Rio Grande do Sul']
df_rs.shape

(58655, 18)

In [18]:
df_rs

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,20170803,20170808,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,20170803,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,20170802,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,20170804,20170810,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185287,M869,430460,430460,201010330,45,1,,0,3508528,212.26,0,20140106,20140416,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185288,S029,430460,430460,404030033,58,1,,0,3508528,1875.40,0,20140114,20140116,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185290,S027,430645,430460,404020542,69,1,,0,3626245,355.15,0,20140221,20140222,1800,Rio Grande do Sul,Passo Fundo,-28.255060,-52.396661
185292,S823,430690,430460,408050608,37,1,,0,3626245,1695.42,0,20140302,20140314,8956,Rio Grande do Sul,Passo Fundo,-28.255060,-52.396661
185295,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,20140310,20140318,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755

In [19]:
df_rs.to_csv("../data/dados_sus3.csv", index=False)

In [20]:
df_rs.CIDADE_RESIDENCIA_PACIENTE.value_counts()

CIDADE_RESIDENCIA_PACIENTE
Uruguaiana                     9288
Ijuí                           8809
Passo Fundo                    8787
Porto Alegre                   7036
Caxias do Sul                  6825
Pelotas                        6627
Santa Cruz do Sul - Lajeado    5766
Santa Maria                    5517
Name: count, dtype: int64

In [31]:
#count how many MORTE ==1 are
df_rs[df_rs.MORTE == 1].shape[0]

2202

In [36]:
#mortes por cidades
df_rs[(df_rs.MORTE == 1) & (df_rs.CIDADE_RESIDENCIA_PACIENTE == 'Santa Maria')].SEXO.value_counts()

SEXO
1    112
3     92
Name: count, dtype: int64

In [12]:
import sqlite3
import pandas as pd

# Conectar ao banco de dados
conn = sqlite3.connect("/home/maiconkevyn/PycharmProjects/txt2sql/sus_data.db")

# Listar todas as tabelas disponíveis
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tabelas = [tabela[0] for tabela in cursor.fetchall()]

print("Tabelas disponíveis:")
for tabela in tabelas:
    print(f"- {tabela}")
    # Mostrar primeiras 5 linhas de cada tabela
    df = pd.read_sql(f"SELECT * FROM {tabela} LIMIT 5", conn)
    print(df)
    print("-" * 50)

conn.close()

Tabelas disponíveis:
- rs_table
  DIAG_PRINC  MUNIC_RES  MUNIC_MOV   PROC_REA  IDADE  SEXO CID_MORTE  MORTE  \
0       A46      430300     430300  303080078     67     3         0      0
1       C168     430300     430300  304100021     60     1         0      0
2       J128     430300     430300  303140151     76     3         0      1
3       I500     430300     430300  303060212     62     1         0      1
4       I158     430300     430300  303060107     29     3         0      0

      CNES  VAL_TOT  UTI_MES_TO  DT_INTER  DT_SAIDA  total_ocorrencias  \
0  2266474   292.62           0  20170803  20170808              24485
1  2266474   797.11           0  20170803  20170805              24485
2  2266474  4987.52           8  20170726  20170803              24485
3  2266474  2702.50           4  20170802  20170805              24485
4  2266474  1737.69           2  20170804  20170810              24485

  UF_RESIDENCIA_PACIENTE CIDADE_RESIDENCIA_PACIENTE  LATI_CIDADE_RES  \
0      Rio Grande do Sul                Santa Maria       -29.686051
1      Rio Grande do Sul                Santa Maria       -29.686051
2      Rio Grande do Sul                Santa Maria       -29.686051
3      Rio Grande do Sul                Santa Maria       -29.686051
4      Rio Grande do Sul                Santa Maria       -29.686051

   LONG_CIDADE_RES
0       -53.806921
1       -53.806921
2       -53.806921
3       -53.806921
4       -53.806921
--------------------------------------------------